
body{
    background-color: #c4c4c4;
    font-family: Arial, sans-serif;
    
}

main{
    width: 60%;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(130, 59, 224, 0.725);
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}
h2{
    color: #333;
    text-align: center;
}
label, input{
    display: inline-block;
    margin: 0px 40px;
    margin-bottom: 5px;
}
label{
    padding: 5px;
    width: calc(30% - 80px);
    font-weight: bold;
}   
input{
    width: calc(80% - 100px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.botoes{
    
    text-align: right;
    margin-top: 10px;
}
.button{
    width: calc(20% - 50px);
    border: 0px;
    padding:10px 20px;
    color: rgb(15, 8, 8);
}

.laranja{
    background-color: rgb(226, 149, 5);

}
.azul{
    background-color: rgb(28, 28, 241); 
}